<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796899986929-vir0og0sh0q00psmbp8popp7pqe9g14a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796899986929-vir0og0sh0q00psmbp8popp7pqe9g14a</string>
	<key>API_KEY</key>
	<string>AIzaSyD21KhTRGPuhuUR7DYz4znIe5y0AFtttao</string>
	<key>GCM_SENDER_ID</key>
	<string>796899986929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alex.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-30f5d</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-30f5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796899986929:ios:f661307b8f1a7ed47d4850</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-30f5d.firebaseio.com</string>
</dict>
</plist>